config.log
config.status
doc/team/gentexconfig
doc/team/team-manual-NL.aux
doc/team/team-manual-NL.log
doc/team/team-manual-NL.out
doc/team/team-manual.aux
doc/team/team-manual.log
doc/team/team-manual.out
etc/apache.conf
etc/config.h
etc/dbpasswords.secret
etc/domserver-static.h
etc/domserver-static.php
etc/htpasswd-jury
etc/judgehost-static.php
etc/runguard-config.h
etc/submit-config.h
judge/check_boolfind
judge/check_float
judge/compare
judge/compare.o
judge/judgedaemon
judge/printdaemon
judge/runguard
judge/runguard.o
judge/runjury_boolfind
judge/runpipe
lib/lib.config.o
lib/lib.error.o
lib/lib.misc.o
misc-tools/balloons
misc-tools/combined_scoreboard
misc-tools/restore_sources2db
misc-tools/runssh_judgehosts
misc-tools/runssh_teams
misc-tools/save_sources2file
misc-tools/static_scoreboard
paths.mk
sql/dj-setup-database
submit/submit_db.php
submit/submitdaemon
www/configure.php
doc/team/team-manual-NL.pdf
doc/team/team-manual.pdf
